.entries-icon {
    font-size: 20px;
    padding: 12px;
    width: 50px;
    height: 50px;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #456990;
    margin-left: -46px;
    margin-right: 10px;
    position: relative;
}

.circle {
    position: relative;
    width: 45px;
    height: 50px;
    background-color: #456990;
    color: #fff;
    border-radius: 20%;
    float: left;
}

.section-title-container {
    position: relative;
    height: 50px;
}

.section-title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    position: relative;
}

.section-title::before {
    padding: 50px;
}